absl-py==1.0.0
aiohttp 
aiosignal 
alabaster 
altgraph==0.17.3
anaconda-client 
anyio 
appdirs==1.4.4
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid 
astropy 
asttokens 
astunparse==1.6.3
async-generator==1.10
async-timeout 
atomicwrites==1.4.0
attrs 
auto-py-to-exe==2.36.0
Automat 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
bokeh 
boto3 
botocore 
bottle==0.12.25
bottle-websocket==0.2.9
Bottleneck 
brotlipy==0.7.0
cachetools 
certifi
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
clyent
colorama 
colorcet 
comtypes
conda-build
conda-content-trust 
conda-pack 
conda-package-handling  
constantly
cookiecutter 
cryptography 
cssselect
cycler 
Cython 
cytoolz
daal4py
dask 
datashader 
datashape
debugpy 
decorator 
defusedxml 
diff
diff-match-patch 
distlib
distributed 
docutils 
Eel
entrypoints 
et-xmlfile
executing 
fastjsonschema 
filelock
flake8 
Flask 
flatbuffers
fonttools
frozenlist 
fsspec 
future 
gast
gensim
gevent
gevent-websocket
glob2 
google-api-core 
google-auth 
google-auth-oauthlib
google-cloud-core 
google-cloud-storage 
google-crc32c 
google-pasta
google-resumable-media 
googleapis-common-protos 
greenlet
grpcio 
h11
h5py 
HeapDict 
holoviews 
huggingface-hub
hvplot 
hyperlink 
idna 
imagecodecs 
ImageHash
imageio 
imagesize 
importlib-metadata 
incremental 
inflection
iniconfig 
install
intake 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
jdcal 
jedi 
Jinja2 
jinja2-time 
jmespath 
joblib 
json5 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
keras
Keras-Preprocessing
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
libclang
llvmlite
locket 
lxml 
Markdown 
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe
mistune 
mkl-fft
mkl-random 
mkl-service
mock 
MouseInfo
mpmath
msgpack 
multidict 
multipledispatch 
munkres
mypy-extensions
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
nose 
notebook 
numba 
numexpr 
numpy
numpydoc 
oauthlib
olefile 
opencv-python
openpyxl 
opt-einsum
outcome
packaging 
pandas 
pandocfilters 
panel 
param 
paramiko 
parsel 
parso 
partd 
pathspec
patsy
pefile
pep8
pexpect 
pickleshare 
Pillow
pkginfo 
platformdirs
plotly 
pluggy 
poyo 
prometheus-client 
prompt-toolkit 
Protego 
protobuf
psutil 
ptyprocess 
pure-eval 
py 
pyasn1 
pyasn1-modules
PyAutoGUI
pycodestyle 
pycosat
pycparser 
pyct 
pycurl
PyDispatcher
pydocstyle 
pyerfa 
pyflakes 
PyGetWindow
Pygments 
PyHamcrest 
pyinstaller
pyinstaller-hooks-contrib
PyJWT 
pylint 
pyls-spyder
PyMsgBox
PyNaCl 
pyodbc 
pyOpenSSL 
pyparsing 
pyperclip
pyreadline
PyRect
pyrsistent 
PyScreeze
PySimpleGUI
PySocks 
pytest
python-dateutil 
python-docx
python-lsp-black 
python-lsp-jsonrpc
python-lsp-server
python-slugify 
python-snappy 
pytweening
pytz
pyviz-comms 
PyWavelets 
PyYAML
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib
regex 
requests 
requests-file 
requests-oauthlib
rope 
rsa 
Rtree 
s3transfer 
scikit-image 
scikit-learn 
scikit-learn-intelex
scikit-multilearn
scipy 
Scrapy 
seaborn 
selenium
selenium-move-cursor
Send2Trash 
service-identity 
sip
six 
smart-open 
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy 
stack-data 
statsmodels
sympy 
tables
tabulate
TBB
tblib 
tenacity 
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado 
testpath 
text-unidecode 
textdistance 
threadpoolctl 
three-merge 
tifffile 
tinycss 
tldextract 
tokenizers
toml 
tomli 
toolz 
tornado 
tqdm 
traitlets 
transformers
trio
trio-websocket
Twisted 
twisted-iocpsupport 
typed-ast 
typing_extensions 
ujson 
Unidecode 
urllib3 
virtualenv
w3lib 
watchdog 
wcwidth 
webencodings
websocket-client 
Werkzeug 
whichcraft
widgetsnbextension 
win-inet-pton 
win-unicode-console
wincertstore
wrapt 
wsproto
xarray 
xlrd 
XlsxWriter 
xlwings
xmltodict
yapf 
yarl 
zict
zipp 
zope.event
zope.interface 
