absl-py==1.0.0
aiohttp==3.7.4.post0
aiosignal==1.2.0
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
altgraph==0.17.3
anaconda-client @ file:///C:/ci/anaconda-client_1635342725944/work
anaconda-navigator==2.1.4
anaconda-project @ file:///tmp/build/80754af9/anaconda-project_1637161053845/work
anyio @ file:///C:/ci/anyio_1644481921011/work/dist
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644551690056/work
arrow @ file:///opt/conda/conda-bld/arrow_1649166651673/work
astroid @ file:///C:/ci/astroid_1628063282661/work
astropy @ file:///C:/ci/astropy_1650634291321/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-generator==1.10
async-timeout @ file:///tmp/build/80754af9/async-timeout_1637851218186/work
atomicwrites==1.4.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
auto-py-to-exe==2.36.0
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1639166893812/work
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt @ file:///C:/ci/bcrypt_1607022693089/work
beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650293025093/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
bitarray @ file:///C:/ci/bitarray_1648739663053/work
bkcharts==0.2
black==19.10b0
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
bokeh @ file:///C:/ci/bokeh_1638362966927/work
boto3 @ file:///opt/conda/conda-bld/boto3_1649078879353/work
botocore @ file:///opt/conda/conda-bld/botocore_1649076662316/work
bottle==0.12.25
bottle-websocket==0.2.9
Bottleneck @ file:///C:/ci/bottleneck_1648010904582/work
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi==2021.10.8
cffi @ file:///C:/ci_310/cffi_1642682485096/work
chardet @ file:///C:/ci/chardet_1607706937985/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///C:/ci/click_1646038595831/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorcet @ file:///tmp/build/80754af9/colorcet_1611168489822/work
comtypes==1.1.10
conda==4.12.0
conda-build==3.21.8
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1640886769177/work
conda-decorate @ file:///tmp/build/80754af9/conda-decorate_1632315155906/work
conda-env==2.6.0
conda-pack==0.7.12
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1645614878051/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1646823838074/work
conda-token @ file:///tmp/build/80754af9/conda-token_1646824059129/work
conda-wire @ file:///tmp/build/80754af9/conda-wire_1638240435666/work
conda-verify==3.4.2
configobj @ file:///tmp/build/80754af9/configobj_1605567092800/work
configparser==5.0.2
constantly @ file:///tmp/build/80754af9/constantly_1631470891804/work
contextlib2==21.6.0
convertdate @ file:///tmp/build/80754af9/convertdate_1631560564850/work
coverage @ file:///C:/ci/coverage_1641479561761/work
covimerage==1.12.0
crcmod @ file:///C:/ci/crcmod_1639792562799/work
cryptography @ file:///C:/ci/cryptography_1637156561805/work
cycler==0.11.0
Cython==0.29.27
cytoolz @ file:///C:/ci/cytoolz_1640858707713/work
dask==2021.6.2
decorator @ file:///tmp/build/80754af9/decorator_1625662293622/work
defusedxml==0.7.1
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1611931870515/work
diff-cover==7.0.0
distributed==2021.6.2
django==3.2.4
dnspython==1.16.0
docopt==0.6.2
docutils==0.17.1
dotted==0.1.0
double-ended-queue @ file:///tmp/build/80754af9/double-ended-queue_1632506492065/work
dtale==1.52.0
entrypoints @ file:///opt/conda/conda-bld/entrypoints_1641006548249/work
et-xmlfile==1.1.0
executing @ file:///tmp/build/80754af9/executing_1624969343101/work
fastcache @ file:///tmp/build/80754af9/fastcache_1631824838844/work
fastcore==1.3.26
fastdownload==0.0.5
fastjsonschema==2.15.1
fastrlock @ file:///tmp/build/80754af9/fastrlock_1612182079719/work
filelock @ file:///tmp/build/80754af9/filelock_1630380140789/work
flake8==3.9.2
flatbuffers==1.12
fsspec @ file:///C:/ci/fsspec_1648813491388/work
ftfy @ file:///tmp/build/80754af9/ftfy_1622681981758/work
fuzzywuzzy==0.18.0
gast==0.4.0
gevent==1.5.0
glob2 @ file:///tmp/build/80754af9/glob2_1627099044823/work
gmpy2 @ file:///C:/ci/gmpy2_1646825259296/work
google-api-core @ file:///tmp/build/80754af9/google-api-core_1631096665389/work
google-api-python-client @ file:///tmp/build/80754af9/google-api-python-client_1629986557232/work
